@plugin "daisyui/theme" {
  name: "era-1995";
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(80.78% 0 0);
  --color-base-200: oklch(90.37% 0 0);
  --color-base-300: oklch(70.58% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(42.9% 0.2973 264.05);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(46.2% 0.0789 194.77);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(42.09% 0.1935 328.36);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(86.64% 0.2948 142.5);
  --color-info: oklch(27.11% 0.1879 264.05);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(43.6% 0.1484 142.5);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(49.21% 0.1007 86.39);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(42.89% 0.176 29.23);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
  --era-muted: oklch(32.11% 0 0);
  --era-visited: oklch(37.84% 0.1716 302.15);
  --era-field: oklch(100% 0 0);
  --era-light: oklch(100% 0 0);
  --era-dark: oklch(59.99% 0 0);
}
